:host
  ::ng-deep .ui-toolbar
    height 64px
    display flex
    align-items center
    justify-content space-between
    border-right 0 !important
    border-left 0 !important
    border-top 0 !important
    border-radius 0 !important
    .ui-toolbar-group-left, .ui-toolbar-group-right
      flex 1
.logo
  cursor pointer
.links
  a
    margin-right 32px
    &:hover
      span
        text-decoration underline