<p-toolbar>
  <div class="ui-toolbar-group-left">
    <span class="logo" (click)="onLogoClick()">Text-to-Lex v0.1-Beta</span>
  </div>
  <div class="ui-toolbar-group-right" fxLayoutAlign="flex-end center">
    <div *ngIf="authService.loggedIn" class="links" fxLayout="row">
      <a
        *ngFor="let link of navigationLinks"
        [routerLink]="link.link"
        fxLayoutAlign="center center"
      >
        <i class="pi" [ngClass]="link.icon" style="line-height: 1.25;"></i>
        <span>{{ link.label }}</span>
      </a>
      <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
      <button
        type="button"
        pButton
        icon="pi pi-bars"
        (click)="menu.toggle($event)"
      ></button>
    </div>
  </div>
</p-toolbar>
