.history
  h1
    text-align center
  .jobs
    .job
      &.success
        .ui-card
          background #a4e69d
      &.expired
        .ui-card
          background #e69d9d
      &.in-progress
        .ui-card
          background #e4e69d
      &:hover
        transform scale(1.02)
        cursor pointer