/*
 * Content:
 * - MEDIA QUERIES;
 * - COLORS;
 * -
 */
/* MEDIA QUERIES */
xs = 'only screen and (max-width: 599px)'
sm = 'only screen and (min-width: 600px) and (max-width: 959px)'
md = 'only screen and (min-width: 960px) and (max-width: 1279px)'
lg = 'only screen and (min-width: 1280px) and (max-width: 1919px)'
lt-sm = 'only screen and (max-width: 599px)'
lt-md = 'only screen and (max-width: 959px)'
lt-lg = 'only screen and (max-width: 1279px)'
gt-xs = 'only screen and (min-width: 600px)'
gt-sm = 'only screen and (min-width: 960px)'
gt-md = 'only screen and (min-width: 1280px)'
/* END MEDIA QUERIES */
/* COLORS */
text-dark = #483D3F
text-light = #F4EBD9
accent-first = #ffcd0d
accent-second = #6cc4f3
background-dark = #483D3F
background-light = #F4EBD9
/* END COLORS */